body {
    padding: 20px;
}

img.preview {
    max-height: 30px;
}

.run-parser {
    margin: 10px 0;
}

ul.pagination {
    margin: 0;
}

table th {
    text-align: center;
}

table td {
    vertical-align: middle !important;
}